.productSection {
  background-color: #1a1a1a;
}

.section {
  padding: 2rem 2rem;
}

.sectionTitle {
  text-align: center;
  font-size: 2.5rem;
  color: #e5c07b;
  margin: 2rem 0rem;

}

.fadeIn {
  opacity: 0;
  transform: translateY(50px); /* Start 50px below */
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  will-change: opacity, transform; /* Optimize animation performance */
}

.visible {
  opacity: 1;
  transform: translateY(0); /* Move to original position */
}

/* Add different delays for each section */
.delaySmall {
  transition-delay: 0.2s;
}

.delayMedium {
  transition-delay: 0.4s;
}

.delayLarge {
  transition-delay: 0.6s;
}

@media (max-width: 768px) {
  .section {
    padding: 2rem 2 2rem;
  }

  .sectionTitle {
    text-align: center;
    font-size: 1.5rem;
    color: #e5c07b;
    margin: 1rem 0rem;
  }
}
