@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #1a1a1a;
  --foreground: #ededed;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #1a1a1a;  /* Keep it same for light mode too */
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh; /* This ensures full viewport height coverage */
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
  display: flex;
}

main {
  flex: 1;
}
img {
  content-visibility: auto; /* Optimize image loading */
}

/* Remove unused CSS */
* {
  text-rendering: optimizeLegibility;
}