.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  /* background-color: #1a1a1a; */
}

.card {
  position: relative;
  box-shadow: 0 4px 12px rgba(255, 215, 0, 0.3);
  max-width: 300px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding: 16px;
  border-radius: 12px;
  background-color: #222;
  border: 1px solid rgba(255, 215, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: white;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(255, 215, 0, 0.5);
}

.ribbon {
  position: absolute;
  top: 10px;
  left: -10px;
  background: #ffd700;
  color: #1a1a1a;
  padding: 5px 15px;
  font-size: 12px;
  font-weight: bold;
  transform: rotate(-45deg);
  border-radius: 5px;
}

.productImage {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  color: #ffd700;
}

.rating {
  color: #ffd700;
  font-size: 16px;
  margin: 5px 0;
}

.price {
  color: #ffd700;
  font-size: 22px;
  font-weight: bold;
}

.piecesLabel {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}

.variantContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.variantButton {
  padding: 8px 12px;
  border: 2px solid rgba(255, 215, 0, 0.6);
  background: transparent;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  color: #ffd700;
  transition: all 0.3s ease;
}

.variantButton:hover {
  background: #ffd700;
  color: #1a1a1a;
}

.variantSelected {
  padding: 8px 12px;
  border: 2px solid #ffd700;
  background: #ffd700;
  color: #1a1a1a;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.addToCart,
.outOfStock {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background: #ffd700;
  color: #1a1a1a;
  border: none;
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 8px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.addToCart:hover {
  background: #d4af37;
}

.outOfStock {
  background: #5c5c5c;
  cursor: not-allowed;
}

.cartIcon {
  font-size: 16px;
}

.successToast {
  background: #fff !important;
}

.errorToast {
  background: red !important;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
    max-width: 100%;
  }
}
